@CHARSET "UTF-8";

body{
	background-color: #EEEEEE;
}
#articlepanel-container{
	padding: 20px;
	padding-top: 50px;

}
.panel-switch-btn{
	float: left;
	width: 100px;
	padding: 6px 12px;
}
.panel-switch-btn:hover{
	cursor: pointer;
}
.panel-switch-btn.active:hover{
	background: #333333;
}
.panel-switch-btn:hover{
	background: #CCCCCC;
}
.panel-switch-btn.active{
	color: #FFFFFF;
	background: #333333;
}
.panel-switch-btn.left{
	border: solid 1px #333333;
}

.panel-switch-btn.right{
	border: solid 1px #333333;
	border-left:none; 
}

.form-group
{
	display: block;
 	padding:10px;

}


.form-group.btn-bar{
	text-align: center;
	display: block;
}

#articlepanel{
	text-align: center;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	border: solid 1px #EEEEEE;
}
.form-group *{
	display: inline-block;

}
.form-group{
	padding-bottom:15px;
}

.form-group label{
	width: 100px;
	margin-left: -100px;
	text-align: right;
	padding-right: 5px

}

.form-input{
    width: 240px;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: none;
    border-bottom: 1px solid #CCCCCC;
}
.form-group.dropdown{
	display: inline-block;
}
.form-group.dropdown label{
	padding:0px 12px;
}
.form-group.dropdown div{
	padding:0px 12px;
}

.dropdown-list {
	position: absolute;
	width: 100px;
	margin-left: -40px;
	margin-top: -5px;
	float: none;
	background: #FFFFFF;
	border: solid 1px #CCCCCC;
}
.dropdown-list.hide {
	display: none;
}
.dropdown-list>li{
	padding: 12px 12px;
	margin-bottom: 10px;
	display: block;
}
.dropdown-list>li.first{
	margin-top: 10px;
}
.dropdown-list>li:hover{
	display: block;
	padding: 12px 24px;
	background: #333333;
	color: #FFFFFF;
}
.btn{
	display: inline-block;
	height: 24px;
	width: 200px;
	padding: 6px 12px;
	line-height:24px;
	margin-top: 20px;
	margin-left: 5px;
	background-color: #333333;
	border: solid 1px #333333;
	color: #ffffff;
}

.btn.loading{
	background-color: #CCCCCC;
	border: solid 1px #CCCCCC;
	cursor: default;
}

.btn.loading:hover{
	background-color: #CCCCCC;
	border: solid 1px #CCCCCC;
	cursor: default;
}

.btn img{
	margin-top: -24px;
	display: none;
}

.btn.loading img{
	display: block;
}

.btn:hover{
	background-color: #888888;
	border: solid 1px #EEEEEE;
	color: #ffffff;
	cursor: pointer; 
}

.form-input.reference{
	width:400px;
}
.form-input.reference-type{
	width:100px;
}
.form-input.reference-type:hover{
	cursor:  pointer;
}

#articlepanel.form #sheet-form{
	display: block;
}
#articlepanel.form #sheet-reference{
	display: none;
}
#articlepanel.form #sheet-info{
	display: none;
}

#articlepanel.reference #sheet-form{
	display: none;
}
#articlepanel.reference #sheet-reference{
	display: block;
}
#articlepanel.reference #sheet-info{
	display: none;
}


#articlepanel.info #sheet-form{
	display: none;
}
#articlepanel.info #sheet-reference{
	display: none;
}
#articlepanel.info #sheet-info{
	display: block;
}


#sheet-info{
	padding-top: 50px;
	min-height: 250px;
}

#op-result{
	font-size: large;
}

.info-banner{
	margin-top: 30px;
	margin-bottom: 30px;
}
#article-panel-switch.hide{
	display:none; 
}