@CHARSET "UTF-8";

.info-banner.normal .loading,
.info-banner.normal .operating{
	display: none;
}
.info-banner.normal .normal{
	display: block;
}

.info-banner.loading .normal,
.info-banner.loading .operating{
	display: none;
}
.info-banner.loading .loaing{
	display: block;
}

.info-banner.operating .normal,
.info-banner.operating .loading{
	display: none;
}
.info-banner.operating .operating{
	display: block;
}


#article-list-panel-container{
	padding-top: 30px;
	background-color: #FFFFFF;
}
#article-list-panel{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	min-height: 300px;
	width: 800px;
}
#loading-banner{
	height: 30px;
    padding: 4px;
    text-align: left;
}

#loading-banner img{
	width: 30px;
}

#loading-txt{
	padding-left: 60px;
	margin-top: -25px;
}
#normal-txt{
	padding-left: 30px;
	margin-top: 25px;
}
#operating-txt{
	padding-left: 30px;
	margin-top: 25px;
}



img.list-operate-btn{
	width:25px; 
}
img.list-operate-btn.select{
	width:30px; 
}
.opr_btn{
	cursor:pointer;
	 }
.opr_btn.unselect .select{
	display: none;
}
.opr_btn.selected .unselect{
	display: none;
}
.operating-btn-bar{
	margin-top: -20px;
	margin-left: 300px;
}
.select_opr_btn{
		display: inline-block;
		margin-left:30px;
		padding:6px 12px;
		cursor: pointer;
}
#opr_acp_btn{
	background-color: #5cb85c;
	color:#FFF;
}
#opr_rej_btn{
	color: #FFF;
	background-color: #d9534f;
}